{% extends "index.html" %}

{% block title %}Gestionar Departamento{% endblock %}

{% block content %}
<div class="container">
<h1>Departamento</h1>
<hr>
<a href="{% url 'empleado:crear_departamento'%}" class="btn btn-success">Crear Departamento</a>
<hr>

{% if departamentos %}


  <table id="table_citas" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>No</th>
        <th>Nombre del Departamento</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for departamento in departamentos %}
      <tr>
        <td>{{departamento.id_departamento}}</td>
        <td>{{departamento.nombre_departamento}}</td>
        <td>
          <a
            href="{% url 'empleado:editar_departamento' departamento.id_departamento %}"
            class="btn btn-warning"
            >Actualizar</a
          >
          <a
            href="{% url 'empleado:eliminar_departamento' departamento.id_departamento %}"
            class="btn btn-danger"
            >Eliminar</a
          >
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <h1>No existen departamentos registrados</h1>
  {% endif %}
</div>
{% endblock %}
