{% extends "index.html" %}
{% block title%}Gestionar Cargos {% endblock %}


{% block content %}
<div class="container">
<h1>Cargos</h1>
<hr>
<a href="{% url 'empleado:crear_cargo'%}" class="btn btn-success">Crear Cargo</a>         
<hr>
{% if cargos %}
  <table id="table_citas" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>No</th>
        <th>Nombre del Cargo</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cargo in cargos %}
      <tr>
        <td>{{cargo.id_cargo}}</td>
        <td>{{cargo.nombre_cargo}}</td>
        <td>
          <a href="{% url 'empleado:editar_cargo' cargo.id_cargo %}"
          class="btn btn-warning"
            >Actualizar</a
          >
          <a href="{% url 'empleado:eliminar_cargo' cargo.id_cargo %}"
          class="btn btn-danger"
            >Eliminar</a
          >
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <h1>No existen Cargos registrados</h1>
  {% endif %}
</div>
{% endblock %}