{% extends "index.html" %} {% block content %}
<div class="container">
  <h3>Ingresar Orden de Trabajo</h3>
  <div class="row">
    <div class="col-md-12">
      <form
        method="POST"
        class="border border-dark p-2 mb-2"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{form.as_p}}
        <div class="float-right">
          <button type="submit" class="btn btn-success">Crear</button>
          <button type="reset" class="btn btn-danger">Borrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
