{% extends "index.html" %} 
{% block title %}Editar Orden de trabajo {{object}}{% endblock %} 
{% block content %}
<div class="container">
  <form method="POST" action="" class="con">
    {% csrf_token %}
    <fieldset>
      <legend>Editar Orden de Trabajo</legend>
      {{form.as_p}}
      <button type="submit" class="btn btn-success">Actualizar</button>
      <button type="reset" class="btn btn-danger">Borrar</button>
      <a href="{% url 'orden_trabajo:listar_orden_trabajo'%}" class="btn btn-secondary"
        >Regresar</a
      >
    </fieldset>
  </form>
</div>
{% endblock %}